name: example
description: "Example project for IcstSpinnerOverlay package"
version: 1.0.0+1
publish_to: none

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter

  icst_spinner_overlay:
    path: ../

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
